# Anything that begins with # is treated as a comment

# Blank lines such as the one above are ignored

# Configuration file for the living room scenario described in the following paper
# "A Practical Framework for Cleaning Robots", 2011
# Wen-Mau Chong, Chien-Le Goh, and Yoon-Teck Bau
# In the Sixth International Conference of Bio-inspired Computing : Theories and Applications




# Specifies the height of the grid
height 15
# Specifies the width of the grid
width 15

# Specifies the number of robots to be placed
numRobots 10

# Specifies the communication range (radius) of each robot
R 50

# Specifies the X and Y coordinates of the base station
baseX 0
baseY 0

# Specifies the initial locations of each robot (Format: <X coordinate> <space> <Y coordinate>)
# IMPORTANT: Make sure that the number of lines after 'initLocs' is exactly equal to numRobots
#            Else, the program could terminate unexpectedly
initLocs
13 2
13 3
13 4
13 5
13 6
13 7
13 8
13 9
13 10
13 11

# Specifies the location of each obstacle cell (Format: <X coordinate> <space> <Y coordinate>)
# Note: You can have any number of obstacle, provided each of them is a valid cell
obstacles
0 13
0 14
1 14
2 5
2 6
2 7
2 8
2 9
3 0
3 5
3 6
3 7
3 8
3 9
4 0
4 1
4 8
4 9
5 0
5 1
5 8
5 9
6 0
6 1
6 5
6 6
6 8
6 9
7 0
7 1
7 5
7 6
7 8
7 9
8 0
8 1
8 8
8 9
8 13
9 0
9 1
9 8
9 9
9 12
9 14
10 0
10 1
10 5
10 6
11 0
11 5
11 6
12 12
12 14
13 0
13 1
13 13
14 0
14 1