body{
	background-color: #e4e4e4;
}

p {
	font: 9pt Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	text-align: center;
	width: 1000px;
	background-color: #2a2e2f;
	color: white;
}

#SearchAlgo{
	background-color: #fafafa;
	float: left;
	width: 1000px;
}

input[type=button] {
    margin: 0.5px;
    background-color:#F1AE2B;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size:70%;
    cursor:pointer;
    width: 120px;
}

input[type=button]:hover {
    background-color:#FF6B2E;
}

#toggle {
	font: 9pt Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	position: absolute;
	top: 129px;
	left: 940px;
	z-index: 600000;
	color: #FF6B2E;
	background: none !important;
    border: none;
    cursor: pointer;
    outline: inherit !important;
}

#textbar {
	background-color: #2a2e2f;
	font: 9pt Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	height: 140px;
	width: 220px;
	position: absolute;
	text-align: center;
	color: #ffffff;
	opacity: 0.7;
	top: 130px;
	left: 748px;
	z-index: 300;
	float: right;
}

#myCanvas{
	z-index: 10 ;
	background-color: #fafafa; 
	float: left;
}
