# Anything that begins with # is treated as a comment

# Blank lines such as the one above are ignored

# Configuration file for freeworld (a 10x10 grid of empty cells)




# Specifies the height of the grid
height 50
# Specifies the width of the grid
width 50

# Specifies the number of robots to be placed
numRobots 8

# Specifies the communication range (radius) of each robot
R 500

# Specifies the X and Y coordinates of the base station
baseX 4
baseY 4

# Specifies the initial locations of each robot (Format: <X coordinate> <space> <Y coordinate>)
# IMPORTANT: Make sure that the number of lines after 'initLocs' is exactly equal to numRobots
#            Else, the program could terminate unexpectedly
initLocs
23 23
23 24
23 25
24 23
24 24
24 25
25 23
25 24
# 25 25
# 26 25

# 0 0
# 14 15
# 23 34
# 30 30
# 0 40
# 40 0
# 49 49
# 35 40
# 8 9

# Specifies the location of each obstacle cell (Format: <X coordinate> <space> <Y coordinate>)
# Note: You can have any number of obstacle, provided each of them is a valid cell
obstacles
# 10 10
# 10 12
# 10 11
# 11 10
# 11 11
# 11 12
# 35 10
# 35 11
# 35 12
# 36 10
# 36 11
# 36 12
# 10 35
# 10 36
# 10 37
# 11 35
# 11 36
# 11 37
# 35 35
# 35 36
# 35 37
# 36 35
# 36 36
# 36 37

