# Anything that begins with # is treated as a comment

# Blank lines such as the one above are ignored

# Configuration file for gridworld1 (a.k.a. KMworld)




# Specifies the height of the grid
height 10
# Specifies the width of the grid
width 10

# Specifies the number of robots to be placed
numRobots 3

# Specifies the communication range (radius) of each robot
R 50

# Specifies the X and Y coordinates of the base station
baseX 4
baseY 4

# Specifies the initial locations of each robot (Format: <X coordinate> <space> <Y coordinate>)
# IMPORTANT: Make sure that the number of lines after 'initLocs' is exactly equal to numRobots
#            Else, the program could terminate unexpectedly
initLocs
0 9
1 9
2 9

# Specifies the location of each obstacle cell (Format: <X coordinate> <space> <Y coordinate>)
# Note: You can have any number of obstacle, provided each of them is a valid cell
obstacles
0 0
1 0
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 8