# Anything that begins with # is treated as a comment

# Blank lines such as the one above are ignored

# Configuration file for the circular maze scenario described in the following paper
# "A Practical Framework for Cleaning Robots", 2011
# Wen-Mau Chong, Chien-Le Goh, and Yoon-Teck Bau
# In the Sixth International Conference of Bio-inspired Computing : Theories and Applications




# Specifies the height of the grid
height 15
# Specifies the width of the grid
width 15

# Specifies the number of robots to be placed
# Easy scenario
numRobots 2
# Hard scenario
# numRobots 4

# Specifies the communication range (radius) of each robot
R 50

# Specifies the X and Y coordinates of the base station
baseX 0
baseY 0

# Specifies the initial locations of each robot (Format: <X coordinate> <space> <Y coordinate>)
# IMPORTANT: Make sure that the number of lines after 'initLocs' is exactly equal to numRobots
#            Else, the program could terminate unexpectedly
initLocs
# Easy set (10 robots)
0 14
# 1 14
# 14 0
# 0 0
14 14

# Hard set (9 robots)
# 6 6
# 6 7
# 6 8
# 7 6
# 7 8
# 8 6
# 8 7
# 3 3
# 3 11
# 11 11

# Specifies the location of each obstacle cell (Format: <X coordinate> <space> <Y coordinate>)
# Note: You can have any number of obstacle, provided each of them is a valid cell
obstacles
2 2
2 3
2 4
2 5
2 6
2 8
2 9
2 10
2 11
2 12
3 2
3 12
4 2
4 12
5 2
5 5
5 6
5 7
5 8
5 9
5 12
6 2
6 5
6 9
6 12
7 2
7 5
7 7
7 9
7 12
8 2
8 5
8 9
8 12
9 2
9 5
9 6
9 8
9 9
9 12
10 2
10 12
11 2
11 12
12 2
12 3
12 4
12 5
12 6
12 7
12 8
12 9
12 10
12 11
12 12
